<h2><%= t(:voting_for_month, month: l(@date_filter, format: :month))  %></h2>

<div id="available_votes">
  <% @races.each do |race| %>
    <p>
      <div class="spacer">
        <%= link_to t(:vote), race_votes_path(race), method: :post if can_vote?(race) %>
        <%= link_to t(:cancel_vote), race_votes_path(race), method: :delete if can_cancel_vote?(race) %>
      </div>
      <%= l(race.date, format: :short )%> - <%= race.place %> - <%= race.name %> (<%= race.distance %>) - <%= link_to t(:more_info), race.url, target: :_blank %>
    </p>
  <% end %>
</div>
