<!DOCTYPE html>
<html>
<head>
  <title>Locamotiva</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render :partial => "sessions/links" %>
  <h1><a href="/">Locamotiva</a></h1>
  <div id="app_feedback">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

<%= yield %>

</body>
</html>
